<nav class="bg-gray-800 p-4 text-white">
  <a routerLink="/book" routerLinkActive="text-green-500" class="text-gray-300 hover:text-green-500 px-4 py-2">Book</a>
  <a routerLink="/character" routerLinkActive="text-green-500"
    class="text-gray-300 hover:text-green-500 px-4 py-2">Character</a>
  <a routerLink="/chapter" routerLinkActive="text-green-500"
    class="text-gray-300 hover:text-green-500 px-4 py-2">Chapter</a>
  <a routerLink="/scene" routerLinkActive="text-green-500"
    class="text-gray-300 hover:text-green-500 px-4 py-2">Scene</a>
</nav>
<router-outlet></router-outlet>