<div class="rounded-3xl bg-blue-700">
  <!-- Top Arrow -->
  <button class="bg-transparent text-gray-400  px-2 rounded-full hover:text-white focus:text-white text-2xl"
    (click)="scrollToStart()">
    <fa-icon [icon]="faArrowUp" size="sm"></fa-icon>
  </button>
  <!-- Middle Icon -->
  <button class="bg-transparent text-gray-400  px-2 rounded-full hover:text-white focus:text-white text-2xl"
    (click)="scrollToMid()">
    <fa-icon [icon]="faDotCircle" size="sm"></fa-icon>
  </button>
  <!-- Bottom Arrow -->
  <button class="bg-transparent text-gray-400  px-2 rounded-full hover:text-white focus:text-white text-2xl"
    (click)="scrollToEnd()">
    <fa-icon [icon]="faArrowDown" size="sm"></fa-icon>
  </button>
</div>