<div class="fixed bottom-4 right-4 space-y-4 z-10 bg-black bg-opacity-40 p-1 rounded-3xl">
  <!-- Top Arrow -->
  <button class="bg-transparent text-gray-300 px-6 pb-4 rounded-full hover:text-white focus:text-white text-2xl"
    (click)="scrollToStart()">
    <fa-icon [icon]="faArrowUp" size="lg"></fa-icon>
  </button>
  <!-- Middle Icon -->
  <button class="bg-transparent text-gray-300 px-6 pb-4 rounded-full hover:text-white focus:text-white text-2xl"
    (click)="scrollToMid()">
    <fa-icon [icon]="faDotCircle" size="lg"></fa-icon>
  </button>
  <!-- Bottom Arrow -->
  <button class="bg-transparent text-gray-300 px-6 pb-4 rounded-full hover:text-white focus:text-white text-2xl"
    (click)="scrollToEnd()">
    <fa-icon [icon]="faArrowDown" size="lg"></fa-icon>
  </button>
</div>